<div class="col-md-12 comment-form">
  <div class="col-md-9">
  <%= form_for [post, post.comments.build] do |f| %>
    <%= f.text_area :content, class: "form-control", placeholder: "Write a comment..." %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="col-md-3">
    <%= f.submit "Comment", class: "btn btn-primary comment-btn" %>
  </div>
  <% end %>
</div>



<!-- link_to "Comment", [:new, post, :comment], class: "btn btn-primary comment-btn" -->