<div class="col-md-3">
  <%= profile_photo(item.user, :xs) %>
</div>

<div class="col-md-9">
  <%= link_to item.user.name, user_path(item.user) %>
  <p class="soft-grey">Posted on <%= item.created_at.strftime("%B-%d-%Y") %></p>
</div>