<div class="post-area">
  <h4>Post</h4>
  
  <div class="post-box">
    <%= form_for [current_user, @post] do |post| %>
    
    <%= post.text_area :content, class: "form-control", placeholder: "Tell the world something...", rows: 6 %>
  </div>
    
  <div class="btn-box">
    <%= post.submit "Post", class: "btn btn-primary btn-post" %>
    <% end %>
  </div>
</div><!-- /.post-area -->